* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 100px;
  background: #47c468;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header h1 {
  color: white;
}
.cart-container {
  position: relative;
}

.counter {
  font-size: 0.7rem;
  border-radius: 50%;
  background: rgb(67, 116, 206);
  position: absolute;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40%;
  left: 70%;
}

.cart-icon {
  cursor: pointer;
}
.cart-wrapper {
  margin-top: 2em;
  display: flex;
}
.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.checkout {
  display: flex;
  width: 40%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.checkout h1 {
  color: grey;
  font-weight: 300;
  justify-content: flex-start;
}
